/* Keep your existing App.css styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #0F111E;
  color: #333;
}

.App {
  text-align: center;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
  padding: 30px;
  color: white;
}

.data-source-container {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.data-source-button {
  display: inline-flex; /* Aligns logo and text */
  align-items: center;
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.data-source-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.data-source-button .kaggle-logo { /* If you use an <img> tag */
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.App-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.content-container {
  max-width: 1200px;
  margin: auto;
}

.chart-section {
  padding: 30px;
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.chart-title {
  margin-top: 0;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid #d8000c;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 1.8em;
  }
  .chart-section h2 {
    font-size: 1.2em;
  }
  .data-source-button {
    font-size: 1em;
    padding: 8px 15px;
  }
}
