body,
html,
#root {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Plotly hover label custom style for blur, spacing, and rounded corners */
.hoverlayer .hoverlabel {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 18px !important;
  padding: 18px 26px !important;
  box-shadow: 0 4px 24px 0 #0006;
  background-color: rgba(10, 10, 20, 0.1);
}
